body{
	margin: 0;
	padding: 0;
	background:url("../img/admin_back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

.panel{
	border:0px;
	background:rgba(0,0,0,0.5);
	color: #ffff;
	text-align: center;
	padding-top: 70px;
	transition: 1s;
}

h4{
	margin: 0;
	padding: 0;
	color: #F9DF05; 
}

.lock{
	position: absolute;
	top: -50px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	left: 37%;
	background:linear-gradient(DarkSlateGray,Cyan);
	background: -webkit-linear-gradient(DarkSlateGray,Cyan);
	background: -moz-linear-gradient(DarkSlateGray,Cyan);
	border:3px outset #F4E10A;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius: 100%;
}

.panel:hover{
	background: rgba(0,0,0,0.7); 
}